<div class="container">
    <div class="app-bar-bottom">

      <%= link_to products_path do %>
        <span class="material-icons lime-text text-darken-3 app-bar-item" id="receipt-long">receipt_long</span>
        <div data-controller="select">
          <% unless @products_to_buy.count == 0 %>
            <div class="number-products-bought"><span id="number-products-bought-text" data-select-target="productCount"><%= @products_to_buy.count %></span></div>
          <% end %>
        </div>
      <% end %>

      <%= link_to tags_path do %>
        <i class="material-icons lime-text text-darken-3 app-bar-item">add_circle</i>
      <% end %>

      <%= link_to lists_path do %>
        <i class="material-icons lime-text text-darken-3 app-bar-item">history</i>
      <% end %>

      <%= link_to users_path do %>
        <i class="material-icons lime-text text-darken-3 app-bar-item">person</i>
      <% end %>


    </div>
  </div>
