<div class="container">
  <div class="app-bar-top">
    <%= link_to filters_tags_path do %>
      <i class="material-icons lime-text text-darken-3">filter_list</i>
    <% end %>
    <div class="tag tag-selected"><%= @filter.name %></div>

  </div>
</div>


<div class="btnAll-btnToBuy">
  <button type="button" class="btnSwitch" id="btnAll">Tout</button>
  <button type="button" class="btnSwitch" id="btnToBuy">À acheter</button>
  <button type="button" class="btnSwitch" id="btnBought">Acheté</button>
</div>

<div class="container" id="navAll">
  <%# <%= render 'products/reminder'%>
  <div class="list">
    <% if @products_all_by_filter.first.nil? %>
      <div class="msg-empty"><h5>Ajoutez des produits à votre liste de courses!</h5></div>
      <%= link_to tags_path , id: "panier" do %>
      <div class="center">
        <i class="fa-solid fa-basket-shopping" id= "cart-icon" ></i>
        <i class="material-icons lime-text text-darken-3" id="plus-icon" >add_circle</i>
      </div>
      <% end %>
    <% else %>

        <%= render 'products_all'%>

    <% end %>

  </div>
</div>

<div class="container" id="navToBuy">
  <%# <%= render 'products/reminder'%>
  <div class="list">
    <% if @products_to_buy.first.nil? %>
      <div class="msg-empty"><h5>Ajoutez des produits à votre liste de courses!</h5></div>
      <%= link_to tags_path, id: "panier" do %>
      <div class="center">
        <i class="fa-solid fa-basket-shopping" id= "cart-icon" ></i>
        <i class="material-icons lime-text text-darken-3" id="plus-icon" >add_circle</i>
      </div>
      <% end %>
    <% else %>

      <%= render 'products_to_buy'%>

    <% end %>
  </div>
</div>

<div class="container" id="navBought">
    <div class="list">
      <% if @products_bought_by_filter.first.nil? %>
      <div class="msg-empty"><h5>Cochez les produits achetés et retrouvez les ici!</h5></div>
      <% else %>
        <div class="btn-container" id="btn-finish">
          <%= link_to "Finish my shopping", lists_path, method: "post", class: "btn lime darken-3" %>
        </div>
        <%= render 'products_bought'%>


      <% end %>
    </div>
  </div>
</div>
