<%= render "shared/navback" %>
<div class="container-fluid">
  <h4 class="text-center fw-bolder mb-3 mt-0"><%= @tag.name %></h2>

  <div class="cards">
    <% @tag.products.each do |product|  %>
      <div data-controller="select">
        <%= link_to product_path(product), data: {action: "click->select#to_buy_product", product_id: product.id } do%>
          <div class="product_name" data-select-target="products">
            <div class="card-category">
              <% if product.photo.attached? %>
                <%= cl_image_tag product.photo.key, crop: :fill%>
              <% else %>
              <% end %>
            </div>
            <p class="text-center fw-bold mb-0" ><%= product.name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
