<% @products_bought.each do |product| %>
  <% if product.frequency == nil %>

              <% if product.aasm_state == "to_buy"%>
                <div class="list-item-container" id="product-<%= product.id%>">
                  <div class="product">

                    <%= link_to buy_product_path(product), class: "checkbox-link", method: :patch, remote: true do %>
                      <span class="material-icons" id="checkbox">check_box_outline_blank</span>
                    <% end %>
                    <%= link_to edit_product_path(product), class: "link-block" do %>
                      <div class="product-photo">
                        <% if product.photo.attached? %>
                          <%= cl_image_tag product.photo.key, class: "list-photo", crop: :fill %>
                        <% end %>
                      </div>
                      <div class="product-info">
                        <p id="product-name"><%= product.name %></p>
                        <% if product.to_buy_at %>
                          <% if (Time.new - product.to_buy_at ).div(60) < 30 && product.aasm_state == "to_buy" %>

                          <div class="last-added"> Ajouté par <%= product.user.name %> <br> il y a <%= (Time.new - product.to_buy_at ).div(60) %> min</div>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>

                  </div>
                </div>
              <% else %>
                <div class="list-item-container" id="product-<%= product.id%>">
                  <div class="product">


                    <%= link_to buy_product_path(product), class: "checkbox-link", method: :patch, remote: true do %>
                      <span class="material-icons lime-text text-darken-3" id="checkbox">check_box</span>
                    <% end %>
                    <%= link_to edit_product_path(product), class: "link-block" do %>
                      <div class="product-photo">
                        <% if product.photo.attached? %>
                          <%= cl_image_tag product.photo.key, class: "list-photo", crop: :fill %>
                        <% end %>
                      </div>
                      <div class="product-info">
                        <p id="product-name" style="text-decoration: line-through"><%= product.name %></p>
                        <% if product.to_buy_at %>
                            <% if (Time.new - product.to_buy_at ).div(60) < 30 && product.aasm_state == "to_buy" %>

                            <div class="last-added"> Ajouté par <%= product.user.name %> <br> il y a <%= (Time.new - product.to_buy_at ).div(60) %> min</div>
                            <% end %>
                          <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>


              <% end %>

        <% end %>
 <% end %>
