
<% @products.each do |product| %>
  <% if product.aasm_state != "bought" && product.aasm_state != "to_buy" %>
    <% if product.frequency && !product.lists.empty? %>
      <% last = product.lists.last.created_at %>
      <% if last < product.frequency.days.ago %>
        <div class="list-item-container" id="product-<%= product.id %>">
          <div class="product">
            <%= link_to buy_product_path(product), class: "checkbox-link", method: :patch, remote: true do %>
              <span class="material-icons" id="checkbox">check_box_outline_blank</span>
            <% end %>
            <%= link_to edit_product_path(product), class: "link-block" do %>
              <div class="product-photo">
                <% if product.photo.attached? %>
                  <%= cl_image_tag product.photo.key, class: "list-photo", crop: :fill %>
                <% end %>
              </div>
              <div class="product-info">
                <p id="product-name"><%= product.name %></p>
                <p id="product-reminder">Reminder</p>
                <%# <p id="product-brand">My favorite brand</p> %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% elsif product.frequency %>
      <div class="list-item-container" id="product-<%= product.id %>">
        <div class="product">
          <%= link_to buy_product_path(product), class: "checkbox-link", method: :patch, remote: true do %>
            <span class="material-icons" id="checkbox">check_box_outline_blank</span>
          <% end %>
          <%= link_to edit_product_path(product), class: "link-block" do %>
            <div class="product-photo">
              <% if product.photo.attached? %>
                <%= cl_image_tag product.photo.key, class: "list-photo", crop: :fill %>
              <% end %>
            </div>
            <div class="product-info">
              <p id="product-name"><%= product.name %></p>
              <p id="product-reminder">Reminder</p>
              <%# <p id="product-brand">My favorite brand</p> %>
            </div>
            <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
