<%= render "shared/filter_link" %>

<div class="btnAll-btnToBuy">
  <button type="button" class="btnSwitch" id="btnAll">All</button>
  <button type="button" class="btnSwitch" id="btnToBuy">To buy</button>
  <button type="button" class="btnSwitch" id="btnBought">Bought</button>
</div>

<div class="container" id="navAll">
  <div class="list">
    <% if @products_all.first.nil? %>
      <div class="msg-empty"><h4>Add some stuff you need to buy!</h4></div>
    <% else %>
      <% @products_all.each do |product| %>
        <div class="list-item-container" id="product-<%= product.id %>">
          <div class="product">
            <% if product.aasm_state == "to_buy" %>
                <%= link_to buy_product_path(product), class: "checkbox-link", method: :patch, remote: true do %>
                  <span class="material-icons" id="checkbox">check_box_outline_blank</span>
                <% end %>
                <%= link_to edit_product_path(product), class: "link-block" do %>
                  <div class="product-photo">
                    <% if product.photo.attached? %>
                      <%= cl_image_tag product.photo.key, class: "list-photo", crop: :fill %>
                    <% end %>
                  </div>
                  <div class="product-info">
                    <p id="product-name"><%= product.name %></p>
                    <%# <p id="product-brand">My favorite brand</p> %>
                    <% if (Time.new - product.updated_at ).div(60) < 30 %>
                      <p class="added-time">Added <%= (Time.new - product.updated_at ).div(60) %> min ago by <%= product.user.name %></p>
                    <% end %>
                  </div>
                <% end %>
            <% else %>
              <%= link_to buy_product_path(product), class: "checkbox-link", method: :patch, remote: true do %>
                <span class="material-icons lime-text text-darken-3" id="checkbox">check_box</span>
              <% end %>
              <%= link_to edit_product_path(product), class: "link-block" do %>
                <div class="product-photo">
                  <% if product.photo.attached? %>
                    <%= cl_image_tag product.photo.key, class: "list-photo", crop: :fill %>
                  <% end %>
                </div>
                <div class="product-info">
                  <p id="product-name" style="text-decoration: line-through"><%= product.name %></p>
                  <%# <p id="product-brand">My favorite brand</p> %>
                  <% if (Time.new - product.updated_at ).div(60) < 30 %>
                    <p class="added-time">Added <%= (Time.new - product.updated_at ).div(60) %> min ago by <%= product.user.name %></p>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= render 'reminder'%>
  </div>
</div>

<div class="container" id="navToBuy">
    <div class="list">
      <% if @products_to_buy.first.nil? %>
      <div class="msg-empty"><h4>Add some stuff you need to buy!</h4></div>
      <% else %>
        <% @products_to_buy.each do |product| %>
          <div class="list-item-container" id="product-<%= product.id %>">
          <div class="product">
          <% if product.aasm_state == "to_buy" %>
            <%#= link_to buy_product_path(product), class: "checkbox-link", method: :patch, remote: true do %>
              <span class="material-icons" id="checkbox">check_box_outline_blank</span>
            <%# end %>
            <div class="product-photo"></div>
              <% if product.photo.attached? %>
                <%= cl_image_tag product.photo.key, class: "list-photo", crop: :fill %>
              <% end %>
            </div>
            <div class="product-info">
              <p id="product-name"><%= product.name %></p>
              <%# <p id="product-brand">My favorite brand</p> %>
            </div>
          <% else %>
            <%= link_to buy_product_path(product), class: "checkbox-link", method: :patch, remote: true do %>
              <span class="material-icons lime-text text-darken-3" id="checkbox">check_box</span>
            <% end %>
            <div class="product-photo"></div>
              <% if product.photo.attached? %>
                <%= cl_image_tag product.photo.key, class: "list-photo", crop: :fill %>
              <% end %>
            </div>
            <div class="product-info">
              <p id="product-name" style="text-decoration: line-through"><%= product.name %></p>
              <%# <p id="product-brand">My favorite brand</p> %>
            </div>
          <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <%= render 'reminder'%>
</div>

<div class="container" id="navBought">

    <div class="list">
      <% if @products_bought.first.nil? %>
      <div class="msg-empty"><h4>Time to do some shopping!</h4></div>

      <% else %>

        <% @products_bought.each do |product| %>
          <div class="list-item-container" id="product-<%= product.id %>">
          <div class="product">
          <% if product.aasm_state == "to_buy" %>
            <%#= link_to buy_product_path(product), class: "checkbox-link", method: :patch, remote: true do %>
              <span class="material-icons" id="checkbox">check_box_outline_blank</span>
            <%# end %>
            <div class="product-photo"></div>
              <% if product.photo.attached? %>
                <%= cl_image_tag product.photo.key, class: "list-photo", crop: :fill %>
              <% end %>
            </div>
            <div class="product-info">
              <p id="product-name"><%= product.name %></p>
              <%# <p id="product-brand">My favorite brand</p> %>
            </div>
          <% else %>
            <%= link_to buy_product_path(product), class: "checkbox-link", method: :patch, remote: true do %>
              <span class="material-icons lime-text text-darken-3" id="checkbox">check_box</span>
            <% end %>
            <div class="product-photo"></div>
              <% if product.photo.attached? %>
                <%= cl_image_tag product.photo.key, class: "list-photo", crop: :fill %>
              <% end %>
            </div>
            <div class="product-info">
              <p id="product-name" style="text-decoration: line-through"><%= product.name %></p>
              <%# <p id="product-brand">My favorite brand</p> %>
            </div>
          <% end %>
          </div>
        <% end %>
        <div class="btn-container">
          <%= link_to "Finish my shopping", lists_path, method: "post", class: "btn lime darken-3" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="fixed-action-btn" id="floating-btn">
    <%= link_to lists_path, method: "post", class: "mdc-fab btn-floating btn-large lime darken-3" do %>
      <i class="large material-icons">done</i>
    <%end %>
  </div>

</div>
