<%= render "shared/filter_link" %>

<div class="btnAll-btnToBuy">
  <button type="button" class="btnSwitch" id="btnAll">Tout</button>
  <button type="button" class="btnSwitch" id="btnToBuy">À acheter</button>
  <button type="button" class="btnSwitch" id="btnBought">Acheté</button>
</div>

<div class="container" id="navAll">
  <%= render 'reminder'%>
  <div class="list">
    <% if @products_all.first.nil? %>
      <div class="msg-empty"><h5>Ajoutez des produits à votre liste de courses!</h5></div>
      <%= link_to tags_path , id: "panier" do %>
      <div class="center">
        <i class="fa-solid fa-basket-shopping" id= "cart-icon" ></i>
        <i class="material-icons lime-text text-darken-3" id="plus-icon" >add_circle</i>
      </div>
      <% end %>
    <% else %>

        <%= render 'products_all'%>

    <% end %>

  </div>
</div>

<div class="container" id="navToBuy">
  <%= render 'reminder'%>
  <div class="list">
    <% if @products_to_buy.first.nil? %>
      <div class="msg-empty"><h5>Ajoutez des produits à votre liste de courses!</h5></div>
      <%= link_to tags_path, id: "panier" do %>
      <div class="center">
        <i class="fa-solid fa-basket-shopping" id= "cart-icon" ></i>
        <i class="material-icons lime-text text-darken-3" id="plus-icon" >add_circle</i>
      </div>
      <% end %>
    <% else %>

      <%= render 'products_to_buy'%>

    <% end %>
  </div>
</div>

<div class="container" id="navBought">
    <div class="list">
      <% if @products_bought.first.nil? %>
      <div class="msg-empty"><h5>Cochez les produits achetés et retrouvez les ici!</h5></div>
      <% else %>
        <div class="btn-container" id="btn-finish">
          <%= link_to "Terminer mon achat", lists_path, method: "post", class: "btn lime darken-3" %>
        </div>
        <%= render 'products_bought'%>


      <% end %>
    </div>
  </div>
</div>
