<div class="container">
  <h2>Add new product</h2>
  <div class="form">
    <%= simple_form_for @product do |f| %>
        <%= f.input :name, placeholder: "Peanut butter" %>
        <%= f.input :photo, as: :file %>
        <%= f.input :frequency, placeholder: "Every 2 weeks" %>
        <%= f.input :description, placeholder: "Crunchy is preferred" %>
        <%= f.input :quantity, placeholder: "2" %>
        <%= f.input :unity, placeholder: "jar" %>
        <%= f.input :price, placeholder: "6€" %>
        <%= f.input :rating, placeholder: "5" %>
        <%= f.submit class: 'btn btn-primary'  %>
    <% end %>
  </div>
</div>
