<div class="container">
  <h2>Add new product</h2>
  <div class="form">
    <%= simple_form_for @product do |f| %>
        <%= f.input :name, label:false, placeholder: "Product name" %>
        <%= f.input :photo, as: :file %>
        <%= f.input :frequency, label: "Remind me",
                                selected: "Never",
                                collection: @frequency_options.map { |key, val| [key, val] },
                                label_method: :first,
                                value_method: :second %>
        <div id="quantity-unity">
          <%= f.input :quantity, label: false, input_html: {value: f.object.quantity || '1'}  %>
          <%= f.input :unity, label: false, selected: "unit", collection: @unit_options %>
        </div>
        <%= f.input :price, label: false, placeholder: "Price €" %>
        <%= f.input :rating, label: false, placeholder: "Rating" %>
        <div class="break"><hr/></div>

        <%= f.input :description, as: :text, label: false, placeholder: "Note" %>
        <div class="btn-container">
          <%= f.submit class: "btn lime darken-3"  %>
        </div>

    <% end %>
  </div>
</div>
